body {
    box-sizing: border-box;
}

#grid {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: calc(6.25% - 2px);
    border-style: solid;
    border-width: 1px;
    aspect-ratio: 1;
}    